.accomplishment-screen {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;

    &__header {
        display: flex;
        flex-direction: row;
    }

    .memoselectsubject-screen__controls--accomplishmentControls {
        width: fit-content;
        margin-left: auto;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__column {
        display: flex;
        flex-direction: column;
        min-height: 50rem;
        width: 100%;

        &:nth-child(1) {
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='100%' x2='100%' y1='0' y2='100%' fill='none' stroke='%23858BF1' stroke-width='2' stroke-dasharray='8%2c 8' stroke-dashoffset='3' stroke-linecap='round'/%3e%3c/svg%3e");
        }

        &:nth-child(2) {
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='0' x2='0' y1='0' y2='100%' fill='none' stroke='%23858BF1' stroke-width='2' stroke-dasharray='8%2c 8' stroke-dashoffset='3' stroke-linecap='round'/%3e%3c/svg%3e");
        }
    }

    &__columnHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}