.home-screen {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    &__patterns {
        position: fixed;
        width: 100%;
        bottom: 0;
        right: 0;
        transform: translate(10%, 25%);
    }

    &__shortcuts {
        display: flex;
        flex-direction: row;
        margin-top: 4rem;
        gap: 7%;
        width: 100%;
        align-items: center;

        .home-screen__notes {
            margin-top: 4rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        width: 100%;
    }

    &__lastSubject {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.4rem;
    }

    &__subjects {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    &__subjectList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
    }

    &__departments {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%;
    }

    &__departmentList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
    }

    &__roleShortcuts {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%;
        max-width: 91.5rem;
    }

    &__roleShortcutsList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
    }

    &--row {
        flex-direction: row;
        gap: 3rem;

        .memo-thumbnail {
            height: 100% !important;
        }

        .home-screen {

            &__shortcuts {
                align-items: flex-start;
                max-width: 43rem;
            }

            &__roleShortcuts {
                margin-top: 4rem;
                gap: 1rem;

                &List{
                    display: block;
                }

                .roleShortcut-thumbnail {
                    max-width: 30rem;
                }
            }
        }
    }
}
