.home-screen {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;

        &--row {
            flex-direction: row;
        }
    }
}