.home-screen {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    &__patterns {
        position: fixed;
        width: 100%;
        bottom: 0;
        right: 0;
        transform: translate(10%, 25%);
    }

    &__shortcuts {
        display: flex;
        flex-direction: row;
        margin-top: 4rem;
        gap: 3rem;
        width: 100%;
        align-items: center;
    }

    &__courses {
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    &__characters {
        opacity: 0.5;
    }

    &__coursesList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem
    }
}