.meetinglist-screen {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 4rem;
    
    &__intro {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5rem;
    }

    &__description {
        max-width: 40ch;
    }

    &__meetings {
        display: flex;
        flex-direction: row;
    }

    &__column {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 4rem;

        &:nth-child(1) {
            //border-right: 2px dotted #46A1FD;
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='100%' x2='100%' y1='0' y2='100%' fill='none' stroke='%2346A1FD' stroke-width='2' stroke-dasharray='8%2c 8' stroke-dashoffset='3' stroke-linecap='round'/%3e%3c/svg%3e");
        }

        &:nth-child(2) {
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='0' x2='0' y1='0' y2='100%' fill='none' stroke='%2346A1FD' stroke-width='2' stroke-dasharray='8%2c 8' stroke-dashoffset='3' stroke-linecap='round'/%3e%3c/svg%3e");
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
        gap: 2rem;
    }
}