.memoimproveactions-screen {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__commentSection {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__commentList {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__commentEmpty {
        font-family: $poppins;
        font-size: 1.8rem;
        font-weight: $light;
        color: $main-color;
    }

    &__title {
        font-family: $poppins;
        font-size: 2rem;
        font-weight: $semibold;
        color: $main-color;
    }

    &__date {
        font-family: $poppins;
        font-size: 1.5rem;
        font-weight: $light;
        color: $main-color;
    }

    &__parragraph {
        font-family: $poppins;
        font-size: 2rem;
        font-weight: $light;
        color: $mineshaft;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    &__actionsContainer {
        max-width: none;
    }

    .small-button {
        max-width: 15rem;
    }
}
