.memosections-screen {
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 2rem 0;
    }

    &__info {
        font-family: $poppins;
        font-size: 2rem;
        font-weight: $semibold;
        color: $boulder;
    }

    &__progress {
        display: flex;
        flex-direction: row;
        gap: 3.7rem;
    }
}