.memoselectsubject-screen {
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1.5rem 0;
    }

    &__description {
        font-family: $poppins;
        font-size: 2rem;
        font-weight: $light;
        color: $boulder;
    }

    &__controls {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    &__subjectList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
    }
}