.note-screen {
    display: flex;
    flex-direction: column;
    padding-bottom: 12rem;
    padding: 2rem 0;

    &__settings {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__filters {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    &__filters-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        width: 100%;

        span {
            font-family: $poppins;
            font-size: 1.5rem;
            color: $silver;
            white-space: nowrap;
        }
    }

    &__views {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        width: 100%;
        max-width: 32rem;      
   }
}