.settings-screen {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    &__section {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__title {
        font-family: "Poppins";
        font-weight: $regular;
        font-size: 2rem;
        color: $boulder;
    }
}
