.signinup-screen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;

    &__article {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        &--top {
            justify-content: flex-start;
            margin-top: 8rem;
        }
    }

    &__logo {
        width: 100%;
        max-width: 38rem;
        align-self: center;
    }

    &__section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__description {
        font-family: $poppins;
        font-size: 2rem;
        font-weight: $light;
        color: $boulder;
    }

    &__roleSection {
        width: 100%;
        max-width: 48rem;
    }

    &__selectRole {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        margin-top: 1rem;
    }

    &__dots {
        width: 100%;
        max-width: 150px;
        position: absolute;
        bottom: 5%;
        left: 0;
    }

    &__wave {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        height: 100vh;

        img {
            max-width: none;
            height: 100%;
        }
    }
}
