@mixin button($background-color, $font-color) {
    @extend %button;
    background-color: $background-color;
    color: $font-color;
    &:hover {
        background-color: lighten($background-color, 10%);
    }
}

@mixin input-label($font-color) {
    @extend %input-label;
    color: $font-color;
}

@mixin text-input($focus-border-color) {
    @extend %text-input;
    &:focus {
        border-color: $focus-border-color;
    }
}

@mixin title($font-color) {
    @extend %title;
    color: $font-color
}

@mixin link($link-color) {
    @extend %link;
    color: $link-color;
}