%main-button {
    width: 100%;
    border: none;
    font-family: $poppins;
    border-radius: $radius-button;
    padding: $button-padding;
}

%create-button {
    width: 9rem;
    height: 9rem;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

%title {
    font-family: $poppins;
    font-size: $title;
}

%section-title {
    font-family: $poppins;
    font-size: $section-title;
}

%subtitle {
    font-family: $poppins;
    font-size: $subtitle;
}

%thirdtitle {
    font-family: $poppins;
    font-size: $thirdtitle;
}

%input-label {
    background-color: $white;
    font-family: $poppins;
    font-size: $input-label;
    font-weight: lighter;
}

%text-input {
    background-color: $white;
    border: 1px solid $input-border-color;
    font-family: $poppins;
    font-size: $input-text !important;
    color: $mineshaft;
    border-radius: $radius-text-input;
    padding: $input-padding;
    width: 100%;

    &::placeholder {
        color: $boulder;
    }
}

%expandable-text-area {
    background-color: $white;
    border: 1px solid $input-border-color;
    font-family: $poppins;
    font-size: $input-text !important;
    color: $mineshaft;
    border-radius: $radius-text-input;
    padding: $input-padding;
    width: 100%;
    resize: none;
    overflow: hidden;

    &::placeholder {
        color: $boulder;
    }

    &:-webkit-autofill {
        -webkit-text-fill-color: $input-color;
        transition: background-color 5000s ease-in-out 0s;
    }

    &:focus {
        border-color: $input-border-color-focused;
    }

    &:focus + label {
        color: $input-label-valid-color;
    }

    &::placeholder {
        color: $boulder;
    }
}

%select-input {
    background-color: $white;
    border: 1px solid $input-border-color;
    font-family: $poppins;
    font-size: $input-text !important;
    color: $mineshaft;
    border-radius: $radius-text-input;
    padding: $input-padding;
    width: 100%;
    appearance: none;
    background-image: url("./../images/selectarrow.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 0.8em);
    background-position-y: 50%;

    &:focus {
        border-color: $input-border-color-focused;
    }

    &[required] option:first-child {
        border-color: $input-border-color-focused;
    }
}

%date-time-input {
    background-color: $white;
    border: 1px solid $input-border-color;
    font-family: $poppins;
    font-size: $input-text !important;
    color: $mineshaft;
    border-radius: $radius-text-input;
    padding: $input-padding;
    width: 100%;

    &:focus {
        border-color: $input-border-color-focused;
    }

    &:valid {
        border-color: $input-border-color-focused;
    }
}

%link {
    font-family: $poppins;
    font-size: $link;
}

%memo-subject-thumbnail {
    width: 100%;
    border-radius: 15px;
    background-color: $white;
}

%text-area-input {
    background-color: $white;
    border: 1px solid $input-border-color;
    border-radius: $radius-text-input;
    font-family: $poppins;
    font-size: $input-text;
    color: $input-color;
    width: 100%;
    resize: none;
    padding: $input-padding;
    outline-color: $input-border-color-focused;

    &:focus {
        border-color: $input-border-color-focused;
    }

    &:focus + label {
        color: $input-label-valid-color;
    }

    &:not(:placeholder-shown) {
        border-color: $input-border-color-focused;
    }

    &::placeholder {
        color: $boulder;
        font-weight: $light;
    }
}