%button {
    width: 100%;
    border: none;
    font-family: $poppins;
    border-radius: $radius-button;
    padding: $button-padding;
    outline: none;

    p {
        font-size: $button-text;
    }
}

%title {
    font-family: $poppins;
    font-size: $title;
}

%input-label {
    font-family: $poppins;
    font-size: $input-label;
}

%text-input {
    background-color: $white;
    border: 1px solid $input-border-color;
    font-family: $poppins;
    font-size: $input-text;
    color: $mineshaft;
    border-radius: $radius-text-input;
    padding: $input-padding;
    outline: none;
    width: 100%;
}

%link {
    font-family: $poppins;
    font-size: $link;
}