.agreement {
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
    font-family: $poppins;
    width: 100%;
    min-height: 3.6rem;

    &__number {
        background-color: $main-color;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 2rem;
        min-width: 2rem;
        height: 2rem;
        min-height: 2rem;
        margin-top: 0.5rem;

        img {
            width: 100%;
        }

        p {
            color: $white;
            font-weight: $semibold;
            font-size: 1.5rem;
        }

        &--secondary {
            margin-top: 0.5rem;
            background-color: $secondary-color;
        }
    }

    &__text {
        vertical-align: middle;
        font-weight: $light;
        //line-height: 2rem;
        width: 100%;
        color: $mineshaft;
        height: 100%;
        padding-left: 0.5rem;
        margin-left: 0.5rem;

        &[contenteditable="true"] {
            border: 1px solid $main-color;
            outline-color: $main-color;
        }
    }

    &__delete {
        background: none;
        border: none;
        visibility: hidden;
    }

    &:hover {
        .agreement__delete {
            visibility: visible;
        }
    }
}
