.board-note-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: $white;
    //max-width: 30rem;
    filter: drop-shadow(0px 4px 10px rgba(208, 208, 208, 0.2));

    &__color {
        width: 100%;
        height: 1.3rem;
        background-color: $keep-light;
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1.5rem 2rem;
        gap: 1.5rem;
        position: relative;
    }

    &__settings {
        transform: scale(1, 1);
        transform-origin: right;
        transition: all 0.1s ease;
        background-color: $white;
        position: absolute;
        top: 0;
        right: 0;
        margin: 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        font-family: $poppins;
        font-size: 1.2rem;
        box-shadow: 0px 5px 10px rgba(208, 208, 208, 0.2);
        border-radius: 5px;
        padding: 0.6rem;

        .delete-board-note-item {
            img {
                content: url("../../images/deletenoteicon.svg");
            }

            &:hover {
                img {
                    content: url("../../images/deletenoteiconwhite.svg");
                }
            }
        }

        &-item {
            display: flex;
            flex-direction: row;
            gap: 0.4em;
            color: $boulder;
            padding: 0.4em 0.8em;
            border-radius: 3px;

            &:hover {
                background-color: $main-color;
                color: $white;
                cursor: pointer;
            }
        }

        &--hidden {
            transform: scale(0, 0);
            transform-origin: right;
            transition: all 0.1s ease-out;
        }
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 0.65rem;
    }

    &__type {
        width: 3rem;
        max-width: none;
    }

    &__title {
        @include thirdtitle($boulder, bolder);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    &__dotsBtn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $dots-button-background;
        border: none;
        min-width: 3rem;
        height: 3rem;
        border-radius: 0.5rem;
        padding: 0;
        background-image: url('../../images/3dots.svg');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
    }

    &__details {
        display: flex;
        flex-direction: column;

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        span {
            font-weight: $light;
        }
    }

    &__subtitle {
        font-family: $poppins;
        font-size: $small-button-text;
        font-weight: $semibold;
        color: $boulder;
    }

    &__controls {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }

    &__moveBtn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $button-secondary;
        border-radius: 40px;
        border: none;
        height: 100%;
        padding: 0.5rem 2rem;
        box-shadow: $button-secondary-box-shadow;

        img {
            max-width: none;
        }
    }

    &--keep {
        .board-note-item__color {
            background-color: $keep-light;
        }
        .board-note-item__moveBtn--left {
            visibility: hidden;
        }
    }

    &--improve {
        .board-note-item__color {
            background-color: $improve-light;
        }
    }

    &--remove {
        .board-note-item__color {
            background-color: $remove-light;
        }
        .board-note-item__moveBtn--right {
            visibility: hidden;
        }
    }

    &:hover {
        cursor: grab;
    }

    &:active {
        cursor: grabbing;
    }
}
