.main-button {
    &--primary {
        @include button($button-primary, $button-text-color-primary, $main-button-text, button-primary-box-shadow);
    }
}

.small-button {
    &--primary {
        @include button($button-primary, $button-text-color-primary, $small-button-text, button-primary-box-shadow);
    }
    padding: $small-button-padding;
}

.board-edit-button {
    @include button($button-primary, $button-text-color-primary, $board-edit-text-btn, button-primary-box-shadow);
    padding: $small-button-padding;
    box-shadow: 0px 5px 6px rgba(69, 158, 248, 0.2);
}

.create-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;

    &--note {
        .create-button__icon {
            @include create-button($create-note-color);
            img {
                max-width: none;
            }
        }
    }

    &__tag {
        margin-top: 10px;
    }
}
