.improveaction-comment {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 4rem;
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(208, 208, 208, 0.2);
    gap: 1rem;

    &__name {
        font-family: $poppins;
        font-size: 1.8rem;
        font-weight: $semibold;
        color: $main-color;
    }

    &__date {
        font-family: $poppins;
        font-size: 1.5rem;
        font-weight: $light;
        color: $main-color;
    }

    &__comment {
        font-family: $poppins;
        font-size: 2rem;
        font-weight: $light;
        color: $mineshaft;
    }

    button {
        max-width: 20rem !important;
    }
}

.improveaction-user-comment {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;

    &__settings {
        transform: scale(1, 1);
        transform-origin: right;
        transition: all 0.1s ease;
        background-color: $white;
        position: absolute;
        top: 0;
        right: 0;
        margin: 3rem 0rem;
        display: flex;
        flex-direction: column;
        font-family: $poppins;
        font-size: 1.2rem;
        box-shadow: 0px 5px 10px rgba(208, 208, 208, 0.2);
        border-radius: 5px;
        padding: 0.6rem;

        &-item {
            display: flex;
            flex-direction: row;
            gap: 0.4em;
            color: $boulder;
            padding: 0.4em 0.8em;
            border-radius: 3px;

            &__normal-icon {
                display: block;
            }

            &__hover-icon {
                display: none;
            }

            &:hover {
                background-color: $main-color;
                color: $white;
                cursor: pointer;

                .improveaction-user-comment__settings-item__normal-icon {
                    display: none;
                }

                .improveaction-user-comment__settings-item__hover-icon {
                    display: block;
                }
            }
        }

        &--hidden {
            transform: scale(0, 0);
            transform-origin: right;
            transition: all 0.1s ease-out;
        }
    }

    &__deleteButton {
        padding: 0;
        position: absolute;
        width: fit-content;
        right: 0;
        background: none;
        border: none;
        opacity: 0;

        img {
            max-width: none;
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &__date {
        font-family: $poppins;
        font-size: 1.5rem;
        font-weight: $regular;
        color: $main-color;
    }

    &__comment {
        font-family: $poppins;
        font-size: 1.8rem;
        font-weight: $light;
        color: $mineshaft;
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__dotsBtn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $white;
        //background-color: $dots-button-background;
        border: none;
        min-width: 3rem;
        height: 3rem;
        border-radius: 0.5rem;
        padding: 0;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;

        &--activated {
            background-color: #FAFAFA;
        }
    }

    &:hover {
        .improveaction-user-comment__deleteButton {
            opacity: 1;
        }
    }
}
