.improveaction-comment {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 4rem;
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(208, 208, 208, 0.2);
    gap: 1rem;

    &__name {
        font-family: $poppins;
        font-size: 1.8rem;
        font-weight: $semibold;
        color: $main-color;
    }

    &__date {
        font-family: $poppins;
        font-size: 1.5rem;
        font-weight: $light;
        color: $main-color;
    }

    &__comment {
        font-family: $poppins;
        font-size: 2rem;
        font-weight: $light;
        color: $mineshaft;
    }

    button {
        max-width: 20rem !important;
    }
}

.improveaction-user-comment {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;

    &__deleteButton {
        padding: 0;
        position: absolute;
        width: fit-content;
        right: 0;
        background: none;
        border: none;
        opacity: 0;

        img {
            max-width: none;
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &__date {
        font-family: $poppins;
        font-size: 1.5rem;
        font-weight: $regular;
        color: $main-color;
    }

    &__comment {
        font-family: $poppins;
        font-size: 1.8rem;
        font-weight: $light;
        color: $mineshaft;
    }

    &:hover {
        .improveaction-user-comment__deleteButton {
            opacity: 1;
        }
    }
}
