.text-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    &__label {
        position: absolute;
        transform: translate(0%, -50%);
        top: 50%;
        left: 1.5rem;
        padding: 0 0.5rem;
        transition: all 0.1s ease-in;
        @include input-label($input-label-color);
    }

    &__field {
        @include text-input($main-color);
        outline-color: $main-color;
    }

    &--secondary {
        .text-input__field {
            @include text-input($secondary-color);
            outline-color: $secondary-color;
        }
    }
}

.fix-label-text-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    &__number {
        position: absolute;
        font-family: $poppins;
        font-size: 1.8rem;
        font-weight: $light;
        color: $boulder;
        text-align: right;
        margin-left: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
    }

    &__label {
        position: absolute;
        padding: 0 0.5rem;
        top: 0%;
        left: 1rem;
        transform: translate(0%, -50%);
        font-size: 1.5rem;
        font-weight: $semibold;
        transition: all 0.1s ease-in;
        @include input-label($input-label-color);
    }

    &__field {
        @include fix-label-text-input($main-color);
        outline-color: $main-color;
    }

    &--number {
        .fix-label-text-input__field {
            padding-left: 4rem;
        }
    }

    &--secondary {
        .fix-label-text-input__field {
            @include fix-label-text-input($secondary-color);
            outline-color: $secondary-color;
        }
    }
}

.add-agreement-input {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.add-item-input {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    gap: 1rem;

    &__icon {
        margin-top: 0.5rem;
        min-width: 2rem;
        max-width: 2rem;

        img {
            width: 100%;
        }
    }
}

.select-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    &__label {
        position: absolute;
        transform: translate(0%, -50%);
        top: 0;
        left: 0.5rem;
        padding: 0 0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        @include input-label($input-label-color);
        color: $input-label-valid-color;
    }

    &__field {
        @include select-input();
        padding-right: 3rem;
        outline-color: $main-color;
        text-overflow: ellipsis;
    }
}

.scale-select-input {
    @include select-input();
    padding-right: 3rem;
    outline-color: $main-color;
    text-overflow: ellipsis;

    &:hover {
        cursor: pointer;
    }
}

.select-notes-filter {
    background-color: $white;
    border: 1px solid $input-border-color;
    font-family: $poppins;
    font-size: 1.5rem;
    font-weight: $light;
    padding: 0.5rem 4rem 0.5rem 1rem;
    color: $silver;
    outline: $input-border-color;
    appearance: none;
    background-image: url("./../images/selectarrowmini.svg");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-x: calc(100% - 1em);
    background-position-y: 50%;
    border-radius: 10px;
    width: 100%;
    max-width: 15rem;
    text-overflow: ellipsis;
    height: fit-content;
}

.date-time-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    &__label {
        position: absolute;
        transform: translate(0%, -50%);
        top: 0;
        left: 0.5rem;
        padding: 0 0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        @include input-label($input-label-color);
        color: $input-label-valid-color;
    }

    &__field {
        @include date-time-input();
        outline-color: $main-color;
        text-overflow: ellipsis;
    }
}

.text-area-input {
    position: relative;

    &__label {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        font-family: $poppins;
        font-size: 1.5rem;
        font-weight: $semibold;
        color: $main-color;
        background-color: $white;
        padding: 0 0.5rem;
        left: 0.5rem;
    }

    &__field {
        @include textarea-input();
    }

    &--disabled {
        .text-area-input__label {
            color: $silver;
        }
    }
}

.expandable-text-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    &__label {
        position: absolute;
        transform: translate(0%, -50%);
        padding: 0 0.5rem;
        top: 0%;
        left: 0.5rem;
        transition: all 0.1s ease-out;
        font-size: 1.5rem;
        font-weight: $semibold;
        color: $input-label-valid-color;
        @include input-label($input-label-color);
    }

    &__field {
        @include expandable-text-area();
        outline-color: $main-color;

        &::placeholder {
            color: $boulder;
            font-weight: $light;
        }
    }
}

.checkbox-input {
    font-family: $poppins;
    font-size: 1.5rem;
    line-height: 1.1;
    color: $mineshaft;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;

    input[type="checkbox"] {
        appearance: none;
        background-color: #fff;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid $silver;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
        vertical-align: middle;

        &::before {
            content: url("../images/checkwhite.svg");
            width: 1em;
            height: 1em;
            background-color: $main-color;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em $main-color;
            transform-origin: center center;
            //clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        }

        &:checked {
            border-color: $main-color;
        }

        &:checked::before {
            background-color: $main-color;
            transform: scale(1);
        }
    }

    &--memo {
        font-size: 1.8rem;
        color: $silver;
        margin-top: 0 !important;

        input[type="checkbox"] {
            width: 1.2em;
            height: 1.2em;
            transform: translateY(-0.075em);

            &::before {
                align-content: center;
                width: 1.1em;
                height: 1.1em;
                padding-left: 0.1em;
            }
        }
    }
}

.checkbox-input + .checkbox-input {
    margin-top: 1em;
}

.radio-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 6rem;
    font-size: 1.5rem;
    font-family: $poppins;
    color: $silver;

    input[type="radio"] {
        appearance: none;
        background-color: #fff;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 2.25em;
        height: 2.25em;
        border: 0.2em solid $silver;
        border-radius: 100%;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;

        &:hover {
            cursor: pointer;
        }

        &::before {
            content: "";
            width: 1.5em;
            height: 1.5em;
            border-radius: 100%;
            background-color: $main-color;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em $main-color;
            transform-origin: center center;
            //clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        }

        &:checked {
            border-color: $main-color;
        }

        &:checked::before {
            background-color: $main-color;
            transform: scale(1);
        }
    }

    &--keep {
        input[type="radio"] {
            &::before {
                background-color: $keep;
                box-shadow: inset 1em 1em $keep;
            }

            &:checked {
                border-color: $keep;
            }

            &:checked::before {
                background-color: $keep;
            }
        }
    }

    &--improve {
        input[type="radio"] {
            &::before {
                background-color: $improve;
                box-shadow: inset 1em 1em $improve;
            }

            &:checked {
                border-color: $improve;
            }

            &:checked::before {
                background-color: $improve;
            }
        }
    }

    &--remove {
        input[type="radio"] {
            &::before {
                background-color: $remove;
                box-shadow: inset 1em 1em $remove;
            }

            &:checked {
                border-color: $remove;
            }

            &:checked::before {
                background-color: $remove;
            }
        }
    }
}

.memo-radio-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.8rem;
    font-family: $poppins;
    color: $silver;
    gap: 0.5rem;

    input[type="radio"] {
        appearance: none;
        background-color: #fff;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.3em;
        height: 1.3em;
        border: 0.15em solid $silver;
        border-radius: 100%;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;

        &:hover {
            cursor: pointer;
        }

        &::before {
            content: "";
            width: 0.8em;
            height: 0.8em;
            border-radius: 100%;
            background-color: $main-color;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em $main-color;
            transform-origin: center center;
        }

        &:checked {
            border-color: $main-color;
        }

        &:checked::before {
            background-color: $main-color;
            transform: scale(1);
        }
    }
}

.submit-file-input {
    width: 100%;
    border: 1px solid $silver;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 2rem;
    gap: 1rem;

    &__icon {
        min-width: 80px;

        img {
            width: 100%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        overflow: hidden;
    }

    &__label {
        font-family: $poppins;
        font-size: 1.5rem;
        color: $silver;
        font-weight: $light;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        &--loaded {
            color: $main-color;
        }
    }

    &__seudoInput {
        width: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        z-index: 1;
        margin-bottom: 10px;
    }

    .seudoInputButton {
        @include main-button(
            $button-secondary,
            $button-text-color-primary,
            $board-edit-text-btn,
            $button-secondary-box-shadow
        );
        padding: $small-button-padding;
        padding-left: 2rem;
        padding-right: 2rem;
        height: fit-content;
        width: fit-content;
        box-shadow: 0px 5px 6px rgba(239, 81, 82, 0.2);

        span {
            white-space: nowrap;
        }
    }

    input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    &__title {
        font-family: $poppins;
        font-size: 1.5rem;
        font-weight: $light;
        color: $silver;
        width: 100%;
        max-width: 26ch;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
