.text-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 46rem;

    &__label {
        margin-bottom: 0.5rem;
        @include input-label($mineshaft)
    }

    &__field {
        @include text-input($input-border-color-focused)
    }
}