.meeting {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: $radius-meeting-item;
    padding: 2rem 2.5rem;
    gap: 2rem;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 10px rgba(208, 208, 208, 0.2);

    &__title {
        color: $malibu;
    }

    &__info {
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        span {
            font-weight: $light;
        }
    }

    &__link {
        word-break: break-all;

        a {
            color: $boulder;
            font-weight: $light;

            &:hover {
                color: $malibu;
            }
        }
    }

    &__controls {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .downloadMeetBtn {
        width: 100%;
        max-width: 30rem;
    }
}
