.memo-answer-option-edit {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;

    &__input {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
    }

    &__number {
        position: absolute;
        font-family: $poppins;
        font-size: 1.8rem;
        font-weight: $light;
        color: $boulder;
        text-align: right;
        left: 2rem;
        top: 50%;
        transform: translateY(-50%);
    }

    &__icon {
        position: absolute;
        z-index: 1;
        top: 50%;
        padding-left: 1.5rem;
        transform: translateY(-50%);
    }

    &__field {
        background-color: $white;
        border: 1px solid $input-border-color;
        color: $mineshaft;
        border-radius: $radius-text-input;
        padding: $input-padding;
        padding-left: 5rem;
        font-family: $poppins;
        font-size: $input-text;
        width: 100%;
        outline-color: $main-color;

        &:focus {
            border-color: $main-color;
        }

        &:focus + label {
            color: $main-color;
        }

        &::placeholder {
            color: $boulder;
            font-weight: $light;
        }
    }

    &__label {
        background-color: $white;
        position: absolute;
        top: 0%;
        left: 0.5rem;
        transform: translateY(-50%);
        font-family: $poppins;
        font-size: 1.5rem;
        font-weight: $semibold;
        z-index: 1;
        color: $input-label-color;
        padding: 0 0.5rem;
        transition: all 0.1s ease;
    }

    &__deleteButton {
        background: none;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
