.memoform-select {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 28rem;

    &__label {
        position: absolute;
        background-color: $white;
        font-family: $poppins;
        font-size: 1.5rem;
        font-weight: $medium;
        color: $input-label-color;
        transform: translate(0, -50%);
        top: 0%;
        left: 0.5rem;
        padding: 0 0.5rem;
        z-index: 1;
    }

    &__pseudofield {
        background-color: $white;
        border: 1px solid $input-border-color;
        font-family: $poppins;
        font-size: $input-text;
        color: $silver;
        border-radius: $radius-text-input;
        width: 100%;
        position: relative;        
    }

    &__selectedOption {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        font-family: $poppins;
        font-size: $input-text;
        color: $silver;
        padding: $input-padding;
    }

    &__arrow {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        transition: all 0.2s ease;
    }

    &:hover {
        cursor: pointer;
    }

    &--focus {
        .memoform-select__label {
            color: $main-color;
        }

        .memoform-select__pseudofield {
            border-color: $main-color;
            //border-width: 2px;
        }

        .memoform-select__arrow {
            transform: rotateZ(-180deg) translateY(50%);
            transition: all 0.2s ease;
        }
    }
}

.memoform-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-family: $poppins;
    font-size: $input-text;
    color: $silver;
    padding: $input-padding;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        border-color: $main-color;
    }
}

.memoform-optionList {
    position: absolute;
    margin-top: 0.5rem;
    top: 100%;
    width: 100%;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(208, 208, 208, 0.2);
    transform: scaleY(0);
    transition: all 0.2s ease;
    transform-origin: top;

    .memoform-option:hover {
        background-color: rgb(203, 203, 203);
    }

    &--focus {
        transform: scaleY(100%);
        transform-origin: top;
        transition: all 0.2s ease;
    }
}
