.memo-reminder {
    display: flex;
    flex-direction: column;
    font-family: $poppins;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(112, 120, 253, 0.2);
    gap: 1rem;

    &__title {
        font-size: 2rem;
        font-weight: $semibold;
        width: 100%;
        color: $main-color;
        max-width: 60ch;
    }

    &__description {
        font-size: 2rem;
        font-weight: $light;
        width: 100%;
        color: $boulder;
        max-width: 45ch;
    }

    &--purple {
        background-color: $main-color;

        .memo-reminder__title {
            color: $white;
        }
    
        .memo-reminder__description {
            color: $white;
        }
    }
}