.notification-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: $main-color;
    padding: 2rem;
    border-radius: 15px;

    &__summary {
        font-family: $poppins;
        font-size: 1.5rem;
        color: $white;
    }

    a {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        max-width: 15rem;
        align-self: flex-end;
    }

    &--selected {
        box-shadow: 0px 0px 0px 5px rgba($color: $secondary-color, $alpha: 0.4);
    }

    &--empty {
        background-color: $white;

        .notification-item__summary {
            font-weight: $semibold;
            color: $boulder;
            text-align: center;
        }
    }

    &--read {
        background-color: $white;
        border: 1px solid $main-color;

        .notification-item__summary {
            color: $boulder;
        }

        a {
            background-color: $white;
            border: 1px solid $secondary-color;
            color: $secondary-color;
            box-shadow: none;

            &:hover {
                color: $white;
            }
        }
    }
}
