.notification-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: $main-color;
    padding: 2rem;
    border-radius: 15px;

    &__summary {
        font-family: $poppins;
        font-size: 1.5rem;
        color: $white;
    }

    a {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }
}