.memo-thumbnail {
    @include memo-subject-thumbnail($memo-thumb-drop-shadow);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: fit-content;
    padding: 4rem 2.5rem;

    &__progress {
        img {
            max-width: none;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
    }
    
    button {
        margin-top: 1rem;
    }
}

.last-subject-thumbnail {
    display: flex;
    flex-direction: row;
    padding: 5rem 3rem;
    @include memo-subject-thumbnail($memo-thumb-drop-shadow);
    gap: 1rem;
    max-width: 23rem;

    &__icon {
        min-width: 3.3rem;
    }

    &__title {
        font-family: $poppins;
        font-size: 1.4rem;
        font-weight: $bold;
        color: $main-color;
        max-width: 14ch;
    }
}

.subject-thumbnail {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    @include memo-subject-thumbnail($memo-thumb-drop-shadow);
    gap: 1.5rem;

    &__info {
        display: flex;
        flex-direction: row;
        gap: 1.7rem;
    }

    &__icon-title {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    &__icon {
        min-width: 4rem;
    }

    &__title {
        font-family: $poppins;
        font-size: 1.5rem;
        font-weight: $bold;
        color: $pink;
        max-width: 14ch;
    }

    &__percent {
        font-family: $poppins;
        font-size: 1.5rem;
        font-weight: $semibold;
        color: $boulder;
    }

    &__progress {
        display: flex;
        flex-direction: column;
    }

    &__subtitle {
        font-family: $poppins;
        font-size: 1.4rem;
        font-weight: $light;
        color: $silver;
    }

    &__progressBar {
        position: relative;
        background-color: #E8E9FF;
        height: 6px;
        border-radius: 30px;
        overflow: hidden;
    }

    &__currentBar {
        position: absolute;
        background-color: rgba($color: #A6ABF4, $alpha: 0.74);
        width: 60%;
        height: 100%;
    }
}