.memo-thumbnail {
    @include memo-subject-thumbnail($memo-thumb-drop-shadow);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: fit-content;
    padding: 2.5rem 2.5rem;

    &__progress {
        img {
            max-width: none;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
    }   
}