.createmeetingminutes-form {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &__section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 100%;
        //max-width: 100rem;
        gap: 3rem;

        &--submitSection {
            display: flex;
            flex-direction: column;
            width: 100%;
            //max-width: 100rem;
        }
    }

    &__meeting-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;

        p {
            font-size: 1.8rem !important;
        }
    }

    textarea {
        margin-top: 1rem;
    }

    &__label {
        font-family: $poppins;
        font-size: $categorie-label;
        font-weight: $semibold;
        color: $main-color;

        &--regular {
            font-weight: $regular;
            color: $silver;
        }
    }

    &__assistantsList {
        margin-top: 1rem;
    }

    .checkbox-input {
        font-size: 1.8rem;
        font-weight: $light;

        input[type="checkbox"] {
            width: 1.18em;
            height: 1.18em;
            border: 0.1em solid $main-color;

            &::before {
                display: grid;
                place-content: center;
            }
        }
    }

    &__agreements {
        display: flex;
        flex-direction: column;
    }

    &__agreementsList {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        gap: 1.5rem;
    }

    &__controlAgreement {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 1rem;
    }

    &__addAgreement {
        input {
            outline: $secondary-color;
            &:focus {
                border-color: $secondary-color;
            }

            &:focus + label {
                color: $secondary-color;
            }

            &:not(:placeholder-shown) {
                border-color: $secondary-color;
            }

            &:not(:placeholder-shown) + label {
                color: $secondary-color;
            }
        }
    }

    .addAgreementBtn {
        margin-top: 1.5rem;
        max-width: 20rem;
        margin-left: auto;
    }

    .submitMeetingMinutesBtn {
        max-width: 23rem;
        align-self: flex-end;
    }
}
