.createnote-form {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    &__section {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        width: 100%;
        max-width: 82rem;
        gap: 3rem;
    }

    &__nameInput {
        width: 100%;
        max-width: 35rem;
    }

    &__weekInput {
        width: 100%;
        max-width: 15rem;
    }

    &__radioList {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
        max-width: 35rem;
    }

    &__label {
        font-family: $poppins;
        font-size: $categorie-label;
        font-weight: $semibold;
        color: $main-color;

        &--regular {
            font-weight: $regular;
            color: $silver;
        }
    }

    &__select {
        max-width: 35rem;
    }

    &__filetype {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 35rem;

        .createnote-form__label--regular {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__fileList {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__loadFile {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 50rem;
    }

    &__addFile--audio {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .description-text {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__audioNote {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .listen-audio-button {
        margin-left: 2rem;
    }

    &__timer {
        font-family: $poppins;
        font-size: 1.5rem;
        font-weight: $light;
        color: $boulder;
    }

    &__submitBtn {
        margin-top: 2rem;
        padding: 0.8rem 1rem;
        max-width: 23rem;
        align-self: flex-end;
    }
}
