.createnote-form {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    &__section {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 3rem;
    }

    &__nameInput {
        max-width: 35rem;
    }

    &__weekInput {
        max-width: 18rem;
    }

    &__radioList {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    &__label {
        font-family: $poppins;
        font-size: $categorie-label;
        font-weight: $semibold;
        color: $malibu;

        &--regular {
            font-weight: $regular;
            color: $boulder;
        }
    }

    &__select {
        max-width: 35rem;
    }
    
    &__fileList {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}