.meetingminutes {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__title {
        color: $main-color;
    }

    &__date {
        margin-left: auto;
        margin-right: 2rem;
        span {
            font-weight: $light;
        }
    }

    &__character {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__mainInfo {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__summary-text {
        font-family: $poppins;
        font-size: 1.8rem;
        font-weight: $light;
        color: $boulder;
    }

    &__subtitle {
        font-size: 1.8rem;
        span {
            font-weight: $light;
        }
    }

    &__mode {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }

    &__link {
        a {
            font-weight: $light;
            color: $boulder;
        }
    }

    &__listSection {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 3rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__controls {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $white;
        border: none;
        min-width: 3rem;
        height: 3rem;
        border-radius: 0.5rem;
        padding: 0;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;

        &--activated {
            background-color: #fafafa;
        }
    }

    &__settings {
        transform: scale(1, 1);
        transform-origin: right;
        transition: all 0.1s ease;
        background-color: $white;
        position: absolute;
        top: 0;
        right: 0rem;
        margin: 3rem 0;
        display: flex;
        flex-direction: column;
        font-family: $poppins;
        font-size: 1.2rem;
        box-shadow: 0px 5px 10px rgba(208, 208, 208, 0.2);
        border-radius: 5px;
        padding: 0.6rem;
        z-index: 5;

        &-item {
            display: flex;
            flex-direction: row;
            gap: 0.4em;
            color: $boulder;
            padding: 0.4em 0.8em;
            border-radius: 3px;

            &__normal-icon {
                display: block;
            }

            &__hover-icon {
                display: none;
            }

            &:hover {
                background-color: $main-color;
                color: $white;
                cursor: pointer;

                .meetingminutes__settings-item__normal-icon {
                    display: none;
                }

                .meetingminutes__settings-item__hover-icon {
                    display: block;
                }
            }
        }

        &--hidden {
            transform: scale(0, 0);
            transform-origin: right;
            transition: all 0.1s ease-out;
        }
    }
}
