.memoquestion-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    &__title {
        font-family: $poppins;
        font-size: 2rem;
        font-weight: $semibold;
        color: $boulder;
        width: 100%;
        max-width: 80rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        background-color: $white;
        box-shadow: 0px 4px 10px rgba(208, 208, 208, 0.2);
        border-radius: 15px;
        padding: 4rem 3rem;
        gap: 2.5rem;
        width: 100%;
        max-width: 82rem;
    }

    &__previousSection {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        position: relative;
    }

    &__questionHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2rem 0;
    }

    .seeNotesButton {
        padding: 0;
        background: none;
        border: none;
        font-family: $poppins;
        font-size: 2rem;
        font-weight: $regular;
        text-decoration: underline;
        color: $main-color;
    }

    &__subtitle {
        font-family: $poppins;
        font-size: 2rem;
        font-weight: $semibold;
        color: $main-color;
    }

    &__question {
        font-family: $poppins;
        font-size: 2rem;
        font-weight: $light;
        color: $boulder;
    }

    &__answer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__justification {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__radio-checkbox {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 40rem;
        gap: 1rem;

        &--row {
            flex-direction: row;
            gap: 3rem;
        }
    }

    &__nextButton {
        max-width: 24rem;
    }

    &__finishButton {
        max-width: 24rem;
    }

    &__back {
        margin-top: 0;
        max-width: 80rem;
    }

    &__openAddOptionButton {
        display: flex;
        flex-direction: row;
        gap: 0.7rem;
        align-items: center;
        background: none;
        padding: 0;
        border: none;

        &--big {
            gap: 1rem;

            .add-item-input__icon {
                min-width: 3.5rem;
            }
        }
    }

    &__addOptionControls {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__inputControls {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 1rem;
    }

    .addOptionBtn {
        max-width: 26rem;
        align-self: flex-end;
    }

    .question-back-button {
        background: none;
        border: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.5rem;
        gap: 0.5rem;
        padding: 0;

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.1em 1em;
            background-color: $button-secondary;
            border-radius: 40px;
            box-shadow: $button-secondary-box-shadow;
            img {
                max-width: none;
            }
        }

        &__tag {
            font-family: $poppins;
            font-size: 1em;
            color: $silver;
        }
    }

    &__addOptionTag {
        font-family: $poppins;
        font-size: 1.8rem;
        color: $silver;
    }

    &__scale {
        display: flex;
        flex-direction: row;
        gap: 1.8rem;
        align-items: flex-end;
    }

    &__scaleTag {
        font-family: $poppins;
        font-size: 1.8rem;
        color: $silver;
        width: 100%;
        max-width: 14ch;
    }

    &__scaleList {
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    &__scaleOption {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        span {
            font-family: $poppins;
            font-size: 1.8rem;
            font-weight: $semibold;
            color: $silver;
        }
    }

    &__scaleValues {
        display: flex;
        flex-direction: column;

        p {
            font-family: $poppins;
            font-weight: $semibold;
            font-size: 1.5rem;
            color: $boulder;
        }
    }

    &__scaleValuesList {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        list-style-position: inside;
        counter-reset: item;

        li {
            font-family: $poppins;
            font-weight: $light;
            font-size: 1.5rem;
            color: $boulder;
            list-style-type: none;
            counter-increment: item;

            &:before {
                display: inline-block;
                width: 1em;
                padding-right: 0.5em;
                font-weight: bold;
                text-align: right;
                content: counter(item) ".";
            }
        }
    }

    &__information {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__informationList {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__informationItem {
        font-family: $poppins;
        font-size: 1.8rem;
        font-weight: $light;
        color: $boulder;
        list-style-type: disc;
        list-style-position: inside;

        &::marker {
            color: $main-color;
        }
    }

    &__parragraph {
        width: 100%;
    }

    &__strategiesContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__strategiesColumn {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    &__strategiesSubtitle {
        font-family: $poppins;
        font-size: 1.8rem;
        font-weight: $semibold;
        color: $boulder;
    }

    &__strategiesList {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
    }

    &__strategyItem {
        font-family: $poppins;
        font-size: 1.8rem;
        font-weight: $light;
        color: $boulder;
    }

    &__feedback {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__feedbackAnswer {
        font-family: $poppins;
        font-size: 1.8rem;
        font-weight: $semibold;
        color: $boulder;

        span {
            font-weight: $light;
            margin-left: 0.3rem;
        }
    }

    .openAddImproveActionButton {
        max-width: 25rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        align-self: center;

        img {
            height: 2rem;
        }
    }

    .addImproveActionButton {
        max-width: 24rem;
        align-self: flex-end;
    }

    .returnToImproveActionButton {
        max-width: 80rem;
    }
}
