.memoquestion-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    &__title {
        font-family: $poppins;
        font-size: 2rem;
        font-weight: $semibold;
        color: $boulder;
        width: 100%;
        max-width: 80rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        background-color: $white;
        box-shadow: 0px 4px 10px rgba(208, 208, 208, 0.2);
        border-radius: 15px;
        padding: 4rem;
        gap: 2rem;
        max-width: 80rem;
    }

    &__subtitle {
        font-family: $poppins;
        font-size: 2rem;
        font-weight: $semibold;
        color: $main-color;
    }

    &__question {
        font-family: $poppins;
        font-size: 2rem;
        font-weight: $light;
        color: $boulder;
    }

    &__answer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__radio-checkbox{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__nextButton {
        max-width: 24rem;
    }

    &__back {
        margin-top: 0;
        width: auto;
    }

    &__addOptionButton {
        display: flex;
        flex-direction: row;
        gap: 0.7rem;
        align-items: center;
        background: none;
        padding: 0;
        border: none;
    }

    &__addOptionTag {
        font-family: $poppins;
        font-size: 1.8rem;
        color: $silver;
    }
}