.memosectionedit-form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 4rem;

    &__section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}
