.note-list {
    background-color: $white;
    border-radius: 15px;
    padding: 4rem 0;
    margin-top: 2rem;
    position: relative;

    &__sectionTitle {
        margin-bottom: 3rem;
        margin-left: 4rem;
    }

    &__table {
        //position: absolute;
        border-collapse: separate;
        border-spacing: 4rem 0;
        width: 100%;
    }

    &__row {
        td {
            padding-bottom: 4rem;
        }
    }

    &__number {
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #eff0ff;
        border-radius: 6px;

        span {
            font-family: $poppins;
            font-size: 1.8rem;
            font-weight: $semibold;
            color: $main-color;
        }
    }

    &__tag {
        font-family: $poppins;
        font-weight: $semibold;
        font-size: 2rem;
        color: $silver;
        //padding: 1.5rem 2rem;
    }

    /*&__column {
        //padding: 1.5rem 2rem;
    }*/

    &__title {
        //padding: 1.5rem 2rem;
        span {
            font-family: $poppins;
            font-weight: $light;
            font-size: 1.8rem;
            color: $mineshaft;
        }

        &--long {
            max-width: 40ch;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &--nowrap {
            white-space: nowrap;
        }
    }

    &__category {
        background-color: #ccf3c6;
        color: #6fb663;
        font-family: $poppins;
        font-size: 1.5rem;
        font-weight: $regular;
        padding: 0.2rem 1.5rem;
        border-radius: 20px;
        text-align: center;

        &--keep {
            background-color: #ccf3c6;
            color: #6fb663;
        }

        &--improve {
            background-color: #ffead6;
            color: #fcb26e;
        }

        &--remove {
            background-color: #ffefef;
            color: #fd797a;
        }
    }

    a {
        span {
            white-space: nowrap;
        }
    }
}
