.note-board {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 13rem;

    &__column {
        display: flex;
        height: fit-content;
        flex-direction: column;
        align-items: center;
        padding: 0 5%;

        &:nth-child(1) {
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='100%' x2='100%' y1='0' y2='100%' fill='none' stroke='%23858BF1' stroke-width='2' stroke-dasharray='8%2c 8' stroke-dashoffset='3' stroke-linecap='round'/%3e%3c/svg%3e");
        }

        &:nth-child(2) {
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='0' x2='0' y1='0' y2='100%' fill='none' stroke='%23858BF1' stroke-width='2' stroke-dasharray='8%2c 8' stroke-dashoffset='3' stroke-linecap='round'/%3e%3cline x1='100%' x2='100%' y1='0' y2='100%' fill='none' stroke='%2346A1FD' stroke-width='2' stroke-dasharray='8%2c 8' stroke-dashoffset='3' stroke-linecap='round'/%3e%3c/svg%3e");
        }

        &:nth-child(3) {
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='0' x2='0' y1='0' y2='100%' fill='none' stroke='%23858BF1' stroke-width='2' stroke-dasharray='8%2c 8' stroke-dashoffset='3' stroke-linecap='round'/%3e%3c/svg%3e");
        }
    }

    &__categorie {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.8rem;
    }

    &__color {
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 100%;

        &--keep {
            background-color: $keep;
        }

        &--improve {
            background-color: $improve;
        }

        &--remove {
            background-color: $remove;
        }
    }

    &__subtitle {
        @include subtitle($mineshaft, $regular);
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 3rem;
        gap: 2rem;
    }
}
