.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 40px;

    p {
        font-family: $poppins;
        font-size: $subtitle;
    }

    &--small {
        max-width: 200px;
    }

    &--dark {
        background-color: $darkGray;
    
        p {
            color: white;
        }
    }

    &--board {
        p {
            font-size: $subtitle - 0.5;
        }
    }

    &--darkGray {
        background-color: $darkGray;

        p {
            color: white;
        }
    }
}
