.createMeetingForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &__section {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 20px;

        .inputText, .select {
            margin-right: 20px !important;
        }
    }
}