@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$poppins:'Poppins', sans-serif;
$title: 1.8rem;
$subtitle: 1.5rem;
$logo: 2rem;
$link: 1.25rem;
$welcome: 2rem;
$tag: 1.25rem;
$tabs: 1.25rem;