.inputText {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
        font-family: $poppins;
        font-size: $subtitle;
    }

    input {
        padding: 10px 20px;
        width: 100%;
        border: 1px solid $lightGray;
        border-radius: 40px;
        font-family: $poppins;
        color: $normalGray;
        margin-top: 5px;

        &::placeholder {
            font-family: $poppins;
            color: $lightGray;
        }
    }
}
