.meetingview {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &__section {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 20px;
    }

    &__status {
        font-family: $poppins;
        font-size: $subtitle;
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 380px;

        p {
            font-family: $poppins;
            color: $darkGray;
        }
    }

    &__participants {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $navGray;
        height: fit-content;
        padding: 20px 30px;
        border-radius: 20px;
        margin-left: 10px;
    }

    &__confirmed {
        font-family: $poppins;
        color: $darkGray;
    }

    &__total {
        font-family: $poppins;
        font-size: $title;
        font-weight: 700;
        margin-top: 5px;
    }

    &__url {
        font-family: $poppins;

        a {
            color: $darkGray;
        }
    }
}
