@import 'vendor/reset';
@import 'base/variables';
@import 'base/placeholders';
@import 'base/mixins';
@import 'modules/inputs';
@import 'modules/buttons';

html, body, main {
    width: 100%;
}

html {
    font-size: 62.5%;
}

.hidden {
    display: none;
}

