/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: https://meyerweb.com
	HTML5 Doctor				:: https://html5doctor.com
	and the HTML5 Boilerplate	:: https://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.login__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  max-width: 800px;
}

.login__image div {
  width: 300px;
  height: 300px;
  min-width: 100px;
  background-color: #A0A0A0;
  border-radius: 100%;
}

.login__fields {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.login__form {
  width: 100%;
  max-width: 500px;
}

.login__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}

.login__section {
  width: 100%;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__section--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login__recoverPass a {
  font-family: "Poppins", sans-serif;
  color: #A0A0A0;
  font-size: 1.25rem;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
}

.navigation {
  background-color: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  padding: 0 40px;
}

.navigation__section {
  width: 100%;
  margin: 30px 0;
}

.navigation__logo h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #363636;
}

.navigation__tabs {
  list-style: none;
}

.navigation__tabs li {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #363636;
}

.home {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 20px;
}

.home__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.home__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.home__section--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home__welcome {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #363636;
}

.home__greetings {
  font-family: "Poppins", sans-serif;
  font-family: 1.5rem;
  color: #A0A0A0;
}

.home__memoProgress {
  width: 310px;
  margin-right: 15px;
}

.home__notes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.createNote {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 20px;
}

.createNote__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.createNote__title {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #363636;
}

.createNote__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.createNote__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.createNote__section--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.createNote__name {
  width: 100%;
  max-width: 400px;
}

.createNote__week {
  margin-left: 40px;
  width: 100%;
  max-width: 200px;
}

.createNote__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #363636;
  margin-bottom: 10px;
}

.createNote__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.board {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 20px;
}

.board__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.board__title {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #363636;
}

.board__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
}

.board__history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.board__history img {
  width: 20px;
  height: 20px;
}

.board__history p {
  font-family: "Poppins", sans-serif;
}

.boardColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.boardColumn__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.boardColumn__title div {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: black;
  margin-right: 5px;
}

.boardColumn__title p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #363636;
}

.boardColumn--keep .boardColumn__title div {
  background-color: #575757;
}

.boardColumn--improve {
  border-left: 2px dotted #363636;
  border-right: 2px dotted #363636;
}

.boardColumn--improve .boardColumn__title div {
  background-color: #9E9E9E;
}

.boardColumn--remove .boardColumn__title div {
  background-color: #C4C4C4;
}

.boardColumn__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  margin-top: 20px;
}

.columnNoteItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #F9F9F9;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.columnNoteItem__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.columnNoteItem__icon {
  margin-right: 10px;
}

.columnNoteItem__icon img {
  width: 35px;
  height: 35px;
}

.columnNoteItem__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.columnNoteItem__summary p {
  font-family: "Poppins", sans-serif;
}

.meetings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
  position: relative;
}

.meetings__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.meetings__column--left {
  border-right: 1px dotted #363636;
}

.meetings__column--right {
  border-left: 1px dotted #363636;
}

.meetings__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.meetings__title p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #363636;
}

.meetings__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.meetingItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #F9F9F9;
  border-radius: 30px;
  padding: 15px 30px;
}

.meetingItem p {
  font-family: "Poppins", sans-serif;
  color: #363636;
}

.meetingItem__button {
  margin-top: 10px;
}

.createMeetingForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.createMeetingForm__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.createMeetingForm__section .inputText, .createMeetingForm__section .select {
  margin-right: 20px !important;
}

.addMeetingButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.addMeetingButton__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #363636;
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

.addMeetingButton__tag {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  color: #A0A0A0;
  margin-top: 5px;
}

.addMeetingButton:hover {
  cursor: pointer;
}

.categorie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}

.categorie__radio {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #fff;
  margin: 0;
  appearance: none;
  font: inherit;
  color: black;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.categorie__radio::before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
  -webkit-box-shadow: inset 30px 30px black;
          box-shadow: inset 30px 30px black;
}

.categorie__radio:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.categorie__radio--keep {
  color: #575757;
  border: 2px solid #575757;
}

.categorie__radio--keep::before {
  -webkit-box-shadow: inset 30px 30px #575757;
          box-shadow: inset 30px 30px #575757;
}

.categorie__radio--improve {
  color: #9E9E9E;
  border: 2px solid #9E9E9E;
}

.categorie__radio--improve::before {
  -webkit-box-shadow: inset 30px 30px #9E9E9E;
          box-shadow: inset 30px 30px #9E9E9E;
}

.categorie__radio--remove {
  color: #C4C4C4;
  border: 2px solid #C4C4C4;
}

.categorie__radio--remove::before {
  -webkit-box-shadow: inset 30px 30px #C4C4C4;
          box-shadow: inset 30px 30px #C4C4C4;
}

.categorie__color {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.categorie__color--keep {
  background-color: #575757;
}

.categorie__color--improve {
  background-color: #9E9E9E;
}

.categorie__color--remove {
  background-color: #C4C4C4;
}

.categorie__tag {
  font-family: "Poppins", sans-serif;
}

.addNoteBtn {
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}

.addNoteBtn__icon {
  background-color: #363636;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
}

.addNoteBtn__tag {
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  color: #A0A0A0;
}

.notefiles {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notefiles__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  outline: none;
}

.notefiles__button div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #363636;
  border-radius: 100%;
}

.notefiles__button p {
  font-family: "Poppins", sans-serif;
  color: #363636;
}

.inputText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.inputText label {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.inputText input {
  padding: 10px 20px;
  width: 100%;
  border: 1px solid #C4C4C4;
  border-radius: 40px;
  font-family: "Poppins", sans-serif;
  color: #A0A0A0;
  margin-top: 5px;
}

.inputText input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #C4C4C4;
}

.inputText input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #C4C4C4;
}

.inputText input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #C4C4C4;
}

.inputText input::placeholder {
  font-family: "Poppins", sans-serif;
  color: #C4C4C4;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.select label {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.select select {
  margin-top: 5px;
  padding: 10px 20px;
  width: 100%;
  border: 1px solid #C4C4C4;
  border-radius: 40px;
  font-family: "Poppins", sans-serif;
  color: #A0A0A0;
}

.select select::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #C4C4C4;
}

.select select:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #C4C4C4;
}

.select select::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #C4C4C4;
}

.select select::placeholder {
  font-family: "Poppins", sans-serif;
  color: #C4C4C4;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox input {
  width: 30px;
  height: 30px;
}

.checkbox label {
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 40px;
}

.button p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.button--dark {
  background-color: #363636;
}

.button--dark p {
  color: white;
}

.button--board p {
  font-size: 1rem;
}

.button--darkGray {
  background-color: #363636;
}

.button--darkGray p {
  color: white;
}

html, body, main {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */