@import "vendor/reset";

@import "base/variables";
@import "base/placeholders";
@import "base/mixins";
@import "base/animations";

@import "modules/inputs";
@import "modules/buttons";
@import "modules/links";
@import "modules/titles";
@import "modules/thumbnails";
@import "modules/board-note-item";
@import "modules/memo-reminder";
@import "modules/meeting-item";

@import "layouts/signinup-form";
@import "layouts/navigation-menu";
@import "layouts/header";
@import "layouts/note-board";
@import "layouts/createnote-form";

@import "pages/signinup-screen";
@import "pages/home-screen";
@import "pages/note-screen";
@import "pages/createnote-screen";
@import "pages/memointro-screen";
@import "pages/meetinglist-screen";

html {
    font-size: 62.5%;
}

body {
    position: relative;
}

.logged-content {
    display: flex;
    flex-direction: row;
    background-color: $page-content-background;
}

.page-content {
    width: 100%;
    background-color: $page-content-background;
    display: flex;
    flex-direction: column;
    padding: $page-content-padding;
    margin-left: 36rem;

    &__container {
        display: flex;
        flex-direction: column;
    }
}

.hidden {
    display: none;
}
